@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

@font-face {
    font-family: "oakSans";
    /* src: url("../public/font/Gantari[wght].ttf"); */
    src: url("../../public/font/OakSansVF.ttf");
}

@font-face {
    font-family: "Gantari";
    src: url("../../public/font/Gantari[wght].ttf");
}

.RichText_richtext__cLLOc{
    @apply !max-w-full !m-0
}

.RichText_richtext__cLLOc pre{
    @apply whitespace-pre-wrap bg-gray-50 p-4 rounded-xl
}

*{
    box-sizing: border-box;
}

.main{
    @apply flex flex-col bg-stone-100 w-full mx-auto overflow-x-hidden
}

.children{
    @apply min-h-screen lg:px-12 lg:py-6 p-6 w-full flex flex-col text-slate-700
}

/* p, strong {
    word-break: break-all;
    white-space: normal;
} */